/* css para toda a página */
body {
  background-color: #22223B;
  color: #F2E9E4;
  text-align: center;
}

a {
  text-decoration: none;
  color: #C9ADA7
}

a:hover {
  text-decoration: underline;
}

/* css feito para landing page */
.flag {
  max-height: 300px;
  border: 10px solid #4a4e69;
  border-radius: 5px;
  cursor: pointer;
}

.languages-img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

/* css feito para a navbar */
.navbar-container {
  background-color: #F2E9E4;
  color: #22223B;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 10%;
}

.navbar-text {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-text:hover {
  cursor: pointer;
}

.LogoffImg {
  max-height: 50px;
  margin-left: 25px;
  cursor: pointer;
}

.navbar-side-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* css feito para página Home */
.home-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  padding: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.home-container h4 {
  max-height: 50%;
  max-width: 50%;
}

.home-btns-container {
  flex-grow: 3;
}

.home-btn {
  font-size: x-large;
  text-decoration: solid;
  background-color: #F2E9E4;
  color: #22223B;
  margin: 10px;
  border: none;
  border-radius: 3px;
  width: 50%;
  height: 30%;
  transition: 0.5s;
  cursor: pointer;
}

.home-btn:hover {
  background-color: #4a4e69;
  color: #F2E9E4;
}

/* css feito para página de projetos */
.project-container {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4a4e69;
  max-width: 70%;
  max-height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.project-container img {
  border-radius: 10px;
  max-width: 20%;
}

.project-container-text {
  max-width: 40%;
  margin-top: 30px;
}

.project-container-buttons {
  display: flex;
  flex-direction: column;
}

.project-container-buttons button {
  width: 95%;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  text-decoration: solid;
  background-color: #F2E9E4;
  color: #22223B;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
}

.project-container-buttons button:hover {
  background-color: #22223B;
  color: #F2E9E4;
}

/* css feito para a página sobre mim */
.img-about-me {
  border: 10px solid #4a4e69;
  max-width: 75%;
}

.about-me-text {
  max-width: 60%;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}